/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/

# Common editor backup files
*.swp
*~
~*

# Files generated during the build process
Kamelon/Kamelon.c
Kamelon/MYMETA.json
Kamelon/MYMETA.yml
Kamelon/Makefile
Kamelon/pm_to_blib

# Generated dist tarballs
/Syntax-Kamelon*.tar.gz
/Syntax-Kamelon*.tgz
/Alt-Syntax-Kamelon*.tar.gz
/Alt-Syntax-Kamelon*.tgz

# Build directories
/Syntax-Kamelon*/
/Alt-Syntax-Kamelon*/

# alt install dir
/no-install-alt/
